/* This file is for your main application css. */

$light-grey: #eee;
$red-orange: #C85243;

$small-spacing: 0.75em;
$base-spacing: 1.5em;
$large-spacing: 3.75em;
$base-border-radius: 3px;

body {
  color: $light-grey;
  background-color: $red-orange;
}

.button {
  background-color: $light-grey;
  border-radius: $base-border-radius;
  color: darken($red-orange, 15);
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.header {
  display: inline-block;
  margin-top: $large-spacing;
  text-align: center;
  width: 100%;
}

.header__logo {
  display: inline-block;
  margin-bottom: $small-spacing;
  vertical-align: bottom;
}

.header__title {
  display: inline-block;
  margin-left: $base-spacing;
}

.train {
  display: inline-block;
  width: 100%;

  h2 {
    display: block;
    border: 1px solid $light-grey;
    border-radius: $base-border-radius;
    margin: 0 auto;
    padding: $small-spacing;
    text-align: center;
    max-width: 15em;
  }

  a {
    display: block;
    margin: $base-spacing auto;
    padding: $small-spacing;
    max-width: 23.5em;
  }
}
